# Archivos generados por el sistema
*.iml
.gradle/
/local.properties

# Archivos de compilación de Android Studio
/app/build/
/build/
/captures/
/output/
/app/release/

# Archivos de construcción
/app/libs/
/app/proguard-rules.pro

# Archivos de respaldo de Android
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/caches/
.idea/modules.xml
.idea/misc.xml

# Archivos generados por el sistema operativo
.DS_Store

# Archivos generados por el sistema de compilación de Gradle
build/
captures/

# Archivos de construcción
/bin/
/gen/

# Archivos de compilación
*.apk
*.ap_
*.class

# Archivos de Eclipse
.settings/
.classpath
.project

# Archivos de intelliJ
*.iml
*.ipr
*.iws
.idea/
